<?php /** @var \Oliverbode\Storelocator\Model\StorelocatorContent $block */ ?>
<h1><?php echo __('Storelocator') ?></h1>

 <div id="storelocator-search">
     <label for="address"><?php echo __('Please enter your address : ');?></label>
     <input type="text" name="address" id="address" class="input-text"/>
 </div>

<div id="maps">
    <div id="map_canvas"></div>
</div>
<div id="panel"></div>

<script type="text/javascript">
      var estimateDirectionLabel = '<?php echo __('Show directions'); ?>';
      var gmapUrl = '<?php echo $block->getGoogleApiUrl(); ?>';
      var apiSensor = 'false';
      var stores = <?php echo $block->getStoresJson(); ?>;
      var pathMarker = '<?php echo $block->getPathMarker(); ?>';
      var defaultMarker = '<?php echo $block->getDefaultMarker(); ?>';
      var directionEnable = <?php echo ($block->getDirection()) ? 'true' : 'false'; ?>;
      var styles = <?php echo ($block->getStyle()) ? $block->getStyle() : 'false'; ?>;   
      window.onload = loadScript;
</script>