<?php /** @var \Oliverbode\Storelocator\Model\StorelocatorList $block */ ?>
<div id="store-list">
    <?php /** @var \Oliverbode\Storelocator\Model\Storelocator $storelocator */ ?>
    <?php foreach ($block->getStores() as $store): ?>
        <div data-role="collapsible">
            <div data-role="trigger">
                <h3 class="stores-item-title" id="store<?php echo $store->getId() ?>"><?php echo $store->getStoreTitle() ?></h3>
            </div>
        </div>
        <div data-role="content" class="store-item-content">
            <p>
                <?php echo $store->getAddress(); ?><br/>
                <?php echo $store->getCity() .', ';  ?>
                <?php echo $store->getState() . ' '; ?>
                <?php echo $store->getPostcode(); ?><br/>
                <?php echo '<strong>Phone:</strong> ' . $store->getPhone(); ?><br/>
                <?php echo '<strong>Email:</strong> ' .  $store->getEmail(); ?><br/>
            </p>
        </div>
    <?php endforeach; ?>
</div>

<script>
    require(['jquery', 'tabs'], function ($) {
        $("#store-list").accordion();
    });
</script>
