.onibi-storelocator-index-index h1 {
    margin: 20px 0;
}
.onibi-storelocator-index-index h1 span {
    float: right;
}
#map_canvas{
    width: 100%;
    height: 514px;
    float: left;
}
#store-list{
    overflow: auto;
    height: 510px;
    margin-top: 130px;
}
.span-geoloc{
    cursor:pointer;
    background-color: #7e2222;
    color:#fff;
    border-top: 1px solid #000000;
    border-left: 1px solid #000000;
    border-bottom: 2px solid #808080;
    border-right: 2px solid #808080;
    /*-moz-box-shadow: inset -1px -1px grey;
    -webkit-box-shadow: inset -1px -1px grey;*/
    padding : 1px 5px 0px 5px;
	clear:both;
    float:right;
    margin-top:5px;
}
.span-geoloc:active{
    background-color: #6b1b1b;
     border-bottom: 2px solid #696969;
     border-right: 2px solid #696969;
 }
.store-name-infoWindow span {
     font-size: 14px;
 }

 .store-info{
     max-height:400px;
     min-width:300px;
 }
 .store-image-infoWindow {
     width:150px;
 }

 .store-image-div-infoWindow{
     float:left;
 }

 .store-name-infoWindow{
    width:150px;
    float:left;
    margin-left:15px;
 }

 .store-name-infoWindow h3{
     font-size:20px;
 }
 #storelocator-search{
     margin: 10px 0 ;
 }
#storelocator-search .input-text {
    width: 300px;
    padding: 5px;
    float: left;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: -10px;
 }
 #storelocator-search label {
    float: left;
 }
 
#panel{
    float:left;
    margin-top:15px;
}

.pac-container .pac-item{
   text-align:left;
}